/src/main/webapp/WEB-INF/
/src/main/resources/
/src/main/java/entities/
/target/**
.idea
.idea
*.iws
*.iml
*.ipr
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/target/
*/target/**
**/META-INF/
!.mvn/wrapper/maven-wrapper.jar