/src/main/webapp/WEB-INF/
/src/main/resources/
/src/main/java/entities/
/target/
../*.class
target/classes/entities/Car$CarBuilder.class
.idea/workspace.xml
*.class
target/WebApp/WEB-INF/classes/entities/ParkingLot$ParkingLotBuilder.class
target/WebApp/WEB-INF/classes/entities/ParkingLot.class
target/WebApp/WEB-INF/web.xml
target/classes/entities/Car$CarBuilder.class
