/src/main/java/entities/
/src/main/java/utils/
/src/main/resources/
/src/main/webapp/WEB-INF/
/src/main/resources/properties/DBConfig.properties
/target/
src/main/java/entities/Car.java
src/main/java/entities/ParkingLot.java
