# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/src/main/java/entities/
/src/main/java/utils/
/src/main/resources/
/src/main/webapp/WEB-INF/
/target/
